@use "../tools" as *;

.destination {
  background-image: url("/src/assets/destination/background-destination-mobile.jpg");
  background-position: top;
  background-size: cover;
}

@include breakPoints("medium") {
  .destination {
    background-image: url("/src/assets/destination/background-destination-tablet.jpg");
  }
}

@include breakPoints("large") {
  .destination {
    background-image: url("/src/assets/destination/background-destination-desktop.jpg");
  }
}
