// Box-sizing

*,
::after,
::before {
  box-sizing: border-box;
}

// Body

body {
  margin: 0;
}

// Font

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

// Container

menu {
  margin: 0;
  padding: 0;
}

// Button

button {
  font-family: inherit;
  font-size: inherit;
  padding: 0;
}

// Image

img {
  max-width: 100%;
}
