@use "../abstract" as *;

.c-dot-indicators > * {
  cursor: pointer;
  border: 0;
  border-radius: 50%;
  aspect-ratio: 1;
  padding: 0.5em;
  background-color: hsl(var(--clr-space-100) / 0.25);

  &:hover,
  &:focus {
    background-color: hsl(var(--clr-space-100) / 0.5);
  }
}

.c-dot-indicators > [aria-selected="true"] {
  background-color: hsl(var(--clr-space-100) / 1);
}
