$type-scale: (
  small: (
    800: clamp(1.476rem, 4vw + 1rem, 5rem),
    700: 1.383rem,
    600: 1.296rem,
    500: 1.215rem,
    400: 1.138rem,
    300: 1.067rem,
    200: 1rem,
    100: 0.937rem,
  ),
  big: (
    800: clamp(1.476rem, 4vw + 1rem, 5rem),
    700: 4.209rem,
    600: 3.157rem,
    500: 2.369rem,
    400: 1.777rem,
    300: 1.333rem,
    200: 1.125rem,
    100: 0.75rem,
  ),
);
