@use "../abstract" as *;

.c-button {
  background-color: transparent;
  border: none;
  color: hsl(var(--clr-space-100));
  font-size: 2em;
  justify-self: end;
  align-self: center;
  padding: 0;
  margin: 2rem 0;
}
