@use "../abstract" as *;

.c-nav {
  display: none;
  padding: 0 2rem;

  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  &__item {
    list-style: none;
    margin-right: 1em;
  }

  &__link {
    text-decoration: none;
    color: hsl(var(--clr-space-100));
  }
}
