@use "../abstract" as *;

.c-nav {
  background-color: hsl(var(--clr-space-300) / 0.5);

  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  &__item {
    list-style: none;
    align-content: center;
    border-bottom: 3px solid transparent;
    margin: 0 2em;
    height: 100%;
    transition: $transition-global;

    &:hover {
      border-bottom: 3px solid hsl(var(--clr-space-100));
    }
  }

  &__link {
    text-decoration: none;
    color: inherit;
  }
}
