@use "../abstract" as *;

.c-openbutton {
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: hsl(var(--clr-space-100));
  font-size: 2rem;
  justify-self: end;
  align-self: center;
  padding: 0;
  transition: $transition-global;

  &:hover,
  &:focus {
    color: hsl(var(--clr-space-300));
  }
}
