@use "../abstract" as *;

.c-sidebar {
  background-color: hsl(var(--clr-space-300));
  position: fixed;
  inset: 0 0 0 30%;
  z-index: 100;
  transform: translateX(100%);
  transition: $transition-global;

  &__menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
  }

  &__item {
    list-style: none;
  }

  &__link {
    border-bottom: 3px solid transparent;
    color: hsl(var(--clr-space-100));
    text-decoration: none;
    transition: $transition-global;

    &:hover,
    &:focus {
      border-bottom: 3px solid hsl(var(--clr-space-100));
    }
  }
}

.openmenu {
  transform: translateX(0);
}
