@use "../abstract" as *;

.c-tabs {
  cursor: pointer;
  border: none;
  border-bottom: 3px solid transparent;
  background-color: transparent;
  color: hsl(var(--clr-space-200));
  padding: 1em 0;
  margin: 0 1em;
  transition: $transition-global;

  &:hover,
  &:focus {
    color: hsl(var(--clr-space-100));
    border-bottom: 3px solid hsl(var(--clr-space-100));
  }
}
