@use "../tools" as *;

.l-header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  &__logo {
    margin: 2rem;
  }
}

@include breakPoints("medium") {
  .c-nav {
    display: block;
  }

  .c-button {
    display: none;
  }
}
