@use "../tools" as *;

.l-header {
  display: grid;
  grid-template-columns: 1fr 2fr;

  &__logo {
    margin: 2rem 0;
  }
}

// Media queries header

@include breakPoints("medium") {
  .c-nav {
    display: block;
  }

  .c-open {
    display: none;
  }
}
