@use "../tools" as *;

.l-header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  &__logo {
    margin: 2rem 0;
  }
}

@include breakPoints("large") {
  .c-nav {
    display: block;
  }

  .c-openbutton {
    display: none;
  }
}
