@use "../tools" as *;

.l-main {
  text-align: center;

  &__intro {
    align-self: center;
  }

  &__destination,
  &__technology,
  &__crew {
    display: grid;
    place-items: center;
    gap: 2rem;
    height: 100%;
  }

  &__asteroids {
    justify-self: center;
    max-width: 50%;
  }

  &__info {
    display: grid;
    border-top: 1px solid hsl(var(--clr-space-100) / 0.5);
    padding-top: 1em;
    gap: 2em;
  }

  &__dots,
  &__smalldots {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  &__people {
    align-self: end;
    max-width: 50%;
    border-bottom: 3px solid hsl(var(--clr-space-100) / 0.15);
  }
}

// Media queries main

@include breakPoints("medium") {
  .l-main {
    text-align: left;

    &__destination,
    &__crew,
    &__info {
      grid-template-columns: repeat(2, 1fr);
    }

    &__technology {
      grid-template-columns: auto 1fr 1fr;
    }

    &__destination,
    &__technology {
      place-items: center left;
      grid-template-rows: auto 1fr;
    }

    &__tabs {
      align-self: end;
    }

    &__asteroids {
      order: 1;
    }

    &__moon,
    &__vehicle {
      order: 2;
    }

    &__nave {
      order: 3;
    }

    &__dots {
      flex-direction: column;
    }

    &__smalldots {
      order: 1;
      margin-bottom: 2rem;
      justify-content: space-between;
    }
  }
  .c-tabs {
    margin: 0 2em 0 0;
  }

  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
